h1{
	color: #BE9B87;
	font-size: 44px;
}
div{
	background-color: rgb(247, 237, 234);
	text-align: center;
	width: 700px;
	margin: 20px auto;
	padding: 20px 20px;
	border-radius: 2px ;
	box-shadow: 0px 10px 30px rgba(0,0,0.3)
}
#little-title{
	font-size: 34px;
}
p{
	font-size: 26px;
	color: #C295D1 ;
}
#profile-pic{
	width: 200px ;
	height: 210px;
	border-radius: 2px;
}
#moi{
	width: 180px ;
	height: 250px;
	border-radius: 2px;
}
#moi2{
	width: 300px;
	height: 250px;
	border-radius: 2px;
}
#profile{
	width: 150px ;
	height: 200px;
	border-radius: 2px;
}
#voyages{
	width: 200px ;
	height: 270px;
	border-radius: 2px;
	margin: 5px 5px;
}
#passions{
	width: 200px;
	height: 300px;
	border-radius: 2px;
	margin:  5px 5px;
}
#famille{
	width: 180px ;
	height: 250px;
	border-radius: 2px;
}
#famille2{
	width: 300px ;
	height: 250px;
	border-radius: 2px;
}
#contacts li{
	list-style: none;
	display: inline;
	color: #8AC6D1;
	font-size: 20px;
}
#reseaux{
	width: 40px;
	height: 40px;
	border-radius: 10px
}
#contacts a {
color: #8AC6D1
	font-size: 20px;
    }
    body {
    	background-image: url(images/saintrop.jpg);
    	background-size: initial 2000px;
    }
    @media(max-width: 960px){
    	div{
    		width: 700px;
    	}
    }
    @media(max-width: 720px){
    	div{
    		width: 500px;
    	}
    }
     @media(max-width: 540px){
    	div{
    		width: 300px;
    	}
    }
    	

